@media (max-width: 1280px) {
	.hero__top-content {
		padding-top: 30px;
	}

	.hero__main-content {
		padding-top: 0;
	}

	.sponsors__reborn-link-img {
		height: 90px;
	}

	.sponsors__nova-link-img {
		height: 50px;
	}

	.info__desc {
		margin-top: 40px;
	}
}

@media (max-width: 700px) {
	
} 
